@inject IAuthenticationService AuthService
@inject NavigationManager NavManager

@*only execute ExecuteLogIn only valid submit with attribute Required in AuthenticationUserModel*@
<EditForm Model="model" OnValidSubmit="ExecuteLogIn" class="">
    <div class="form-row">
        <div class="col-auto">
            <label for="email" class="sr-only">Email</label>
            <InputText type="text" id="email" class="form-control" @bind-Value="model.Email" placeholder="Email Address" />
        </div>
        <div class="col-auto">
            <label for="password" class="sr-only">Password</label>
            <InputText type="password" id="password" class="form-control" @bind-Value="model.Password" placeholder="Password" />
        </div>
        <div class=col-auto>
            <button type="submit" class="btn btn-success">Log In</button>
        </div>
        <div class=col-auto>
            <button type="button" class="btn btn-primary" @onclick="RegisterUser">Register</button>
        </div>
    </div>
</EditForm>

@code {
    private AuthenticationUserModel model = new();
    private bool showAuthenticationError = false;
    private string authenticationErrorText = "";

    private void RegisterUser()
    {
        NavManager.NavigateTo("/register");
    }

    private async Task ExecuteLogIn()
    {
        // always clear the showAuthenticationError when login
        showAuthenticationError = false;

        AuthenticatedUserModel result = await AuthService.Login(model);

        if (result is not null)
        {
            //navigate to root
            NavManager.NavigateTo("/");
        }
        else
        {
            authenticationErrorText = "There was an error when trying to log in.";
            showAuthenticationError = true;
        }
    }
}
