@page "/logout"
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager

<h3>Log Out</h3>

@code {
    protected async override Task OnInitializedAsync()
    {
        await AuthService.LogOut();
        NavManager.NavigateTo("/");
    }
}
